---
layout: default
title: Home
tags: Java, Maven, Wildfly, Java EE
---
<header>
      <div class="container">
        <div id="index_header">
          <div id="index_title"><h1>Blog-127.0.0.1</h1></div>
          <div id="about"><a href="../about/"><img src="../images/me.jpg" class="rounded" title="Me"/></a></div>
        </div> 
        <small><a id="welcome-to-blog-127001" class="anchor" href="#welcome-to-blog-127001" aria-hidden="true"><span class="octicon octicon-link"></span></a>So what can you expect to find on this blog? I can promise you will not find recipes for buns or DIY dinning table even though i'm actually pretty good at both. You will find what I call small git blog's with examples for Maven, Java, Wildfly and Java EE examples baked on my experiences when encountered the different technologies..</small>
      </div>
</header>

<div class="container">
      <section id="main_content">
        
      </section>
</div>
<div class="container">
  <section id="main_content">
    <div class="posts">
      {% for post in paginator.posts %}
      <article class="post">
        <h1>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a>
        </h1>
        <p>
        {% if post.content contains '<!--more-->' %}
          {{ post.content | split:'<!--more-->' | first }}
        {% else %}
          {{ post.excerpt }}
        {% endif %}
        <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
        </p>
      </article>
      {% endfor %}
    </div>
 </section>
</div>

<div class="container">
      <section id="main_content">
        <div class="pagination">
          {% if paginator.next_page %}
            <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
          {% else %}
            <span class="pagination-item older">Older</span>
          {% endif %}
          {% if paginator.previous_page %}
            <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
          {% else %}
            <span class="pagination-item newer">Newer</span>
          {% endif %}
        </div>
      </section>
</div>