---
layout: default
---
<article>

    <div class="container">
      <section id="main_content">
          <header>
            <p align="left"><a href="/" title="Home">{{ site.title }}</a></p>
             <div id="index_header">
             <div id="index_title"><h1 class="post-title">{{ page.title }}</h1></div>
             <div id="about"><img src="../images/me.png" class="rounded" title="About.me"/></div>
            </div>
           </header>
         {{ content }}
         <header>
         </header>
      </section>
    </div>

<article>
