---
layout: default
---

<article>

    <div class="container">
      <section id="main_content">
          <header>
            <div align="left"><a href="/" title="Home">{{ site.title }}</a>
              <div id="followme">
                <a href="https://twitter.com/fnharms" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="true">Follow @fnharms</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              </div>
            </div>

            <h1 class="post-title">{{ page.title }}</h1>
            <div id="post_header">
              <div id="share_button"></div>
              <div id="date_headline">
                <div id="author">
                {{ page.post_author }}
                </div>
                <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time></div>
            </div>
          </header>
         {{ content }}
         <header>
         </header>
         <div id="tagsection">
           <div id="tagheader">Tags </div>
             {% if page.tags == null %}
               Not tagged.
             {% else %}
                 {% for tag in page.tags %}
                   <div id="tagsbadge"><a href="/tags#{{ tag | slugify }}-ref">{{ tag | capitalize}}</a></div>
                 {% endfor %}
             {% endif %}
         </div>
         {% include comments.html %}
     </section>
    </div>

<article>
